body {
    display: flex;
    margin: 0;
    padding: 1rem 4rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    -webkit-text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "liga" 1, "dlig" 1;
    font-family: "JetBrains-Mono", Roboto, sans-serif;
}

.title {
    white-space: nowrap;
    color: #d2d2d2;
    display: block;
    padding: 0 1rem;
    font-weight: bold;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.variables--container {
    margin-left: 1rem;
}

.variable {
    margin: .25rem .5rem;
    padding: .75rem 1rem;
    border-radius: 3px;
    border: 1px solid #a3a3a3;
    color: #a3a3a3;
    transition: .5s;
    background: none;
    cursor: pointer;
    font-size: 125%;
}

.variable:hover,
.variable:focus {
    background-color: #a3a3a3;
    color: #212121;
}

.variable.used {
    border: 1px solid #30a4ff;
    color: #30a4ff;
}

.variable.used:hover,
.variable.used:focus {
    background-color: #30a4ff;
    color: #212121;
}

.calc--container {
    flex-direction: column;
    align-items: flex-start;
}

.button--container {
    display: flex;
    float: right;
    justify-self: flex-end;
    margin-left: auto;
}

.calc {
    width: calc(100% - 1rem);
    display: block;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding-bottom: .75rem;
    background: none;
    font-size: 2rem;
    caret-color: #0090ff;
    color: #d2d2d2;
    text-decoration: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #d2d2d2;
    transition: .5s;
}

.calc:focus {
    border-bottom: 1px solid #0090ff;
}

.result--container {
    flex-direction: column;
    align-items: flex-start;
}
.result--container > table {
    margin-left: 1rem;
    margin-top: 1rem;
    border: none;
}

th {
    padding: 0 2rem .75rem 0;
}

td {
    padding: 0 2rem .25rem 0;
}

.license {
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    font-size: 1rem;
    opacity: .75;
}

.text--green {
    color: limegreen;
}

.text--red {
    color: #e80000;
}

.block {
    background-color: rgba(255, 135, 135, 0.5);
    padding: .9rem 1.5rem;
    border-radius: 3px;
    letter-spacing: 2px;
}

.code--block {
    background-color: #464646;
}

@font-face {
    font-family: "JetBrains-Mono";
    src:
        local("JetBrains Mono"),
        url("/JetBrainsMono-Regular.woff2");
    font-weight: normal;
}