body {
    display: flex;
    margin: 0;
    padding: 1rem 4rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    -webkit-text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "liga" 1, "dlig" 1;
    font-family: "JetBrains-Mono", Roboto, sans-serif;
}

.title {
    white-space: nowrap;
    color: #d2d2d2;
    display: block;
    padding: 0 1rem;
    font-weight: bold;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.variables--container {
    margin-left: 1rem;
}

.variable {
    margin: .25rem .5rem;
    padding: .75rem 1rem;
    border-radius: 3px;
    border: 1px solid #a3a3a3;
    color: #a3a3a3;
    transition: .5s;
    background: none;
    cursor: pointer;
}

.calc--container {
    flex-direction: column;
    align-items: flex-start;
}

.button--container {
    display: flex;
    float: right;
    justify-self: flex-end;
    margin-left: auto;
}

.calc {
    width: calc(100% - 1rem);
    display: block;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding-bottom: .75rem;
    background: none;
    font-size: 2rem;
    caret-color: #0090ff;
    color: #d2d2d2;
    text-decoration: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #d2d2d2;
    transition: .5s;
}

.calc:focus {
    border-bottom: 1px solid #0090ff;
}

.result--container {
    flex-direction: column;
    align-items: flex-start;
}
.result--container > table {
    margin-left: 1rem;
    border: none;
}

th {
    padding: .75rem 2rem;
}

td {
    padding: .25rem 2rem;
}

tr {
    text-align: center;
}

@font-face {
    font-family: "JetBrains-Mono";
    src:
        local("JetBrains Mono"),
        url("/JetBrainsMono-Regular.woff2");
    font-weight: normal;
}